{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row g-5">
        
        <div class="col-lg-8">
            <header class="mb-3">
                <h1 class="fw-bold mb-1">{{ blog.title }}</h1>
                <div class="text-muted small mb-2">Posted on {{ blog.created_at }} by {{ blog.author }}</div>
                <span class="badge bg-warning text-white rounded p-1">{{ blog.category }}</span>
            </header>

            <figure class="mb-4">
                <img class="img-fluid rounded" src="{{ blog.featured_image.url }}">
            </figure>

            <section class="mb-5">
                <p class="fs-5 lh-base text-dark" style="font-family: sans-serif;">
                    {{ blog.body }}
                </p>
            </section>
        </div>

        <div class="col-lg-4">

            <div class="card mb-4 p-3 border-light-subtle shadow-none">
                <h3 class="card-title h4 mb-3 fw-bold">Categories</h3>
                <div class="row small">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            {% for c in categories %}
                            <li class="mb-1"><a href="{% url 'posts_by_category' c.id %}" class="text-decoration-none text-primary">{{ c.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mb-4 p-3 border-light-subtle shadow-none">
                <h3 class="card-title h4 mb-2 fw-bold">Follow Us</h3>
                <div class="small">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><a href="#!" class="text-decoration-none text-primary">GitHub</a></li>
                        <li class="mb-0"><a href="#!" class="text-decoration-none text-primary">LinkedIn</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}